@{
    ViewData["Title"] = "Welcome";
}

<div class="center-box">
    <h1>CampusConnect</h1>

    <div style="margin-top:40px;">
        <a asp-controller="Account" asp-action="SignIn" class="btn btn-dark">Sign In</a>
        <a asp-controller="Account" asp-action="Join" class="btn btn-dark">Create Account</a>
    </div>
</div>